@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 

.cell {
  width: 4vw;
  height: 4vw;
  border: 0.5px solid #5767F9;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.clicked {
  background-color: #5767F9;
}

.clicked_link {
  background-color: black;
  border: 0.5px solid black;
  color: white;
  font-family: "Mori", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  width: 60%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  background-color: #F1F2F4;
}

.right-column {
  width: 40%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5%;
  background-color: #F1F2F4;
}

@media (max-width: 768px) {
  .cell {
  width: 8vw;
  height: 8vw;
  }

  .left-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }
}


{}