@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 

.caption {
  font-family: 'Mori', sans-serif;
  font-size: 12px;
  color: #5767F9;
  max-width: 80%;
}

h3 {
  font-family: "Mori", sans-serif;
  color: #5767F9;
  opacity: 50%;
  margin-top: 0;
}

.archiveimg {
  max-width: 60%;
}

.archive-video {
  max-width: 60%;
}

.bomb {
  padding: 24px 0px;
  border-top: 1px solid #5767F9;
}

.cell {
  width: 2vw;
  height: 2vw;
  border: 0.5px solid #5767F9;
  display: inline-block;
  font-family: "Mori", sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.clicked {
  background-color: #5767F9;
}

.clicked_link {
  background-color: black;
  border: 0.5px solid black;
  color: white;
  font-family: "Mori", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  width: 50%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  background-color: #F1F2F4;
  position: fixed;
}

.right-column {
  width: 70%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5%;
  background-color: #F1F2F4;
  margin-left: 30%;
}

.little-column {
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5%;
  position: fixed;
  background-color: #F1F2F4;
}

.phantom-column {
  width: 40%;
}

@media (max-width: 768px) {
  .cell {
  width: 8vw;
  height: 8vw;
  }

  .left-column {
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    position: sticky;
  }

  .right-column {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .little-column {
  width: 100%;
  margin-top: 15%;
  }

  .phantom-column {
    display: none;
  }

  .archiveimg {
  max-width: 100%;
  }

  .caption {
    display: none;
    transition: 0.3s;
  }
}

{}