@font-face { font-family: AlbertSans; src: url('fonts/AlbertSans-Medium.ttf'); }
@font-face { font-family: PPHatton-Medium; src: url('fonts/PPHatton-Medium.otf'); }
@font-face { font-family: PPHatton-UltraLight; src: url('fonts/PPHatton-Ultralight.otf'); }
@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


@media (max-width:960px) {
	.bc {
		font-size: 50px;
	}

} 

body {
	background-color: F1F2F4;
	margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 0;
  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

li:first-child {
	margin-left: 0;
	text-align: left;
}

li:last-child {
	text-align: right;
	margin-right: 16px;
}

a {
  display: block;
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
  font-family: 'Mori', sans-serif;
  color: #5767F9;
  transition: 0.3s;
}


a:hover {
	text-decoration: underline;
	text-decoration-thickness:  2px;
}

.bc {
	font-size: 2.5vw;
	font-weight: regular;
	color: #5767F9;
	opacity: 50%;
	z-index: 2;
	font-family: 'Mori', sans-serif;
}

.bc_selected {
	font-size: 2.5vw;
	font-weight: regular;
	color: #5767F9;
	z-index: 2;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  padding: 16px;
  bottom: 0;
  z-index: 2;
}