@font-face { font-family: AlbertSans; src: url('fonts/AlbertSans-Medium.ttf'); }
@font-face { font-family: PPHatton-Medium; src: url('fonts/PPHatton-Medium.otf'); }
@font-face { font-family: PPHatton-UltraLight; src: url('fonts/PPHatton-Ultralight.otf'); }
@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


@media (max-width:960px) {
	.bc {
		font-size: 50px;
	}

} 

body {
	background-color: F1F2F4;
	margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 0;
  z-index: 2;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

li:first-child {
	margin-left: 0;
	text-align: left;
}

li:last-child {
	text-align: right;
}

a {
  display: block;
  text-decoration: none;
  display: inline-block;
  font-family: 'Mori', sans-serif;
  color: #5767F9;
  transition: 0.3s;
}


a:hover {
	text-decoration: underline;
	text-decoration-thickness:  2px;
}

button {
  font-family: Mori;
  background-color: #5767F9;
  margin: 8px 8px 8px 0;
  font-size: 12pt;
  padding: 6px 12px 4px 12px;
  color: white;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

button:hover {
  background-color: #3B48ED;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

button:active {
  background-color: #5767F9;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

img {
  border-radius: 8px;
}


.disabled-button {
  font-family: Mori;
  background-color: #5767F9;
  opacity: 50%;
  margin: 8px 8px 8px 0;
  font-size: 12pt;
  padding: 6px 12px 4px 12px;
  color: white;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.disabled-button:hover {
  font-family: Mori;
  background-color: #5767F9;
  opacity: 50%;
  margin: 8px 8px 8px 0;
  font-size: 12pt;
  padding: 6px 12px 4px 12px;
  color: white;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.clicked-button {
  font-family: Mori;
  background-color: white;
  margin: 8px 8px 8px 0;
  font-size: 12pt;
  padding: 6px 12px 4px 12px;
  color: black;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.clicked-button:hover {
  font-family: Mori;
  background-color: #E6E6E6;
  margin: 8px 8px 8px 0;
  font-size: 12pt;
  padding: 6px 12px 4px 12px;
  color: black;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.bc {
	font-size: 2.5vw;
	font-weight: regular;
	color: #5767F9;
	opacity: 50%;
	z-index: 2;
	font-family: 'Mori', sans-serif;
}

.bc_selected {
	font-size: 2.5vw;
	font-weight: regular;
	color: #5767F9;
	z-index: 2;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  padding: 16px;
  bottom: 0;
  z-index: 2;
}