@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 
@font-face { font-family: Offbit; src: url('fonts/OffBitTrial-Regular.otf'); } 


body {
    margin: 0 12px 0 12px;
}

#bg {
    height: 100vh;
}

#night-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
    z-index: -1;
}
#cloud-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
    z-index: -1;
}


#rahdio-logo {
    max-width: 100%;
    height: auto;
}

#top-content {
    margin-top: 24px;
    margin-bottom: 24px;
}

.inline {
    color: white;
    display: inline-block;
    margin: 0;
    padding-top: 16px;
}

h1 {
  font-family: Mori;
  color: black;
  margin: 0;
  font-size: 48pt;
}

h2 {
  font-family: Mori;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 24pt;
}

h3 {
  font-family: Mori;
  color: white;
  margin: 0;
  font-size: 14pt;
  opacity: 60%;
}

p {
  font-family: Offbit;
  margin: 0;
  font-size: 14pt;
}


label {
  font-family: Offbit;
  margin: 0;
  font-size: 14pt;
  color: white;
  vertical-align: middle;
  display: flex;
}

span {
    display: inline-block;

    border-radius: 8px;
    font-family: "Offbit", sans-serif;
    font-size: 14px;
    text-align: left;
    color: white;
    margin-bottom: 24px;
    text-transform: uppercase;
}

a {
  font-family: Mori;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.menu {
  text-align: right;
}

.widget {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0px 16px 0px;
}

.widg-map {
  padding: 16px 0 0;
}

button {
  font-family: Mori;
  background-color: #5767F9;
  margin: 0;
  font-size: 12pt;
  padding: 6px 12px 4px 12px;
  color: white;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.switch {
  border-radius: 4px;
}

input[type="range"] {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 6px;
    outline: none;
    appearance: none;
    margin: 4px 0 16px 0;
    Thumb Radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 24px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.air-widget {
  margin: 0;
  margin-top: 16px;
}

.transparent {
  background: linear-gradient(to bottom, #FFFFFF15, #FFFFFF30);
  border: 1px solid #FFFFFF25;
  box-shadow: 0px 1px 1px 1px #00000030;
}

.invisible {
  background-color: #FFFFFF00;
  padding-top: 16px;
  padding-bottom: 0;
}

div.transparent > h1, div.transparent > p{
  color: white;
}

.master-title {
  padding: 24px 0 24px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  box-sizing: border-box;
  padding: 0 12px 0 12px;
}

.col-img {
  display: flex;
  justify-content: center;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 40%;
}

.col-4 {
  width: 30%;
}

.col-6 {
  width: 20%;
}

.col-12 {
  width: 10%;
}

#city-select-label {
  font-size: 24px;
}

select {
  font-family: Mori;
  background-color: #FFFFFF30;
  border: none;
  margin: 6px 4px 6px 0;
  font-size: 14pt;
  color: #FFFFFF80;
  
  vertical-align: middle;
  width: 60%;
  border-radius: 16px;
  padding: 11px 8px 9px 16px;
  
  width: 60%;
  height: 100%;
  appearance: none; /* Hide the default arrow */
  -webkit-appearance: none; /* Hide the default arrow for Safari */
  -moz-appearance: none; /* Hide the default arrow for Firefox */
}

#player-icon {
    padding: 8px 4px 8px 8px;
}

#dateTimeSpan {
    background-color: #00000030;
    padding: 4px 8px 2px 8px;
    border-radius: 4px;
}

#player {
  margin-top: 16px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 48px;
}

#startStop {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  margin-left: 8px;
}

.hide {
  display: none;
}

#view-switch {
  position: fixed;
  bottom: 24px;
  left: 24px;
  background-color: white;
  color: black;
  padding: 16px 12px 14px 16px;
  border-radius: 32px;
  display: flex;
  align-items: center;
    transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#view-switch:hover {
  background-color: #ededed;
  transform: scale(1.05);
}

#view-switch:active {
  background-color: #ededed;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.98);
}


#changeViewBtn {
  color: black;
  background-color: transparent;
}

@media (max-device-width: 480px) {
  #bg {
    height: 100%;
  }

  h1 {
    font-size: 48pt;
  }

  #rahdio-logo {
    max-width: 35%;
  }
  .title-column {
  margin-top: 15%;
  }

  .img-column {
  width: 100%;
  }

  .column {
    width: 100%;
  }
  .col-4 {
  width: 100%;
  }

  .col-6 {
  width: 100%;
  }

  .menu {
  text-align: left;
  padding-top: 8px;
  }
}

{}