@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 



#rahdio-logo {
    max-width: 25%;
    height: auto;
}

@media (max-width: 768px) {
  #rahdio-logo {
    max-width: 35%;
  }
}

{}