@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 
@font-face { font-family: Offbit; src: url('fonts/OffBitTrial-Regular.otf'); } 

#bg {
    height: 100vh;
}

#night-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
    z-index: -1;
}

#rahdio-logo {
    max-width: 100%;
    height: auto;
}

#top-content {
    margin-top: 24px;
}

h1 {
  font-family: Mori;
  color: black;
  margin: 0;
  font-size: 48pt;
}

h2 {
  font-family: Mori;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 24pt;
}

h3 {
  font-family: Mori;
  color: white;
  margin: 0;
  font-size: 14pt;
  opacity: 60%;
}

p {
  font-family: Offbit;
  margin: 0;
  font-size: 14pt;
}


label {
  font-family: Offbit;
  margin: 0;
  font-size: 14pt;
  color: white;
  vertical-align: middle;
}

span {
    display: inline-block;

    border-radius: 8px;
    font-family: "Offbit", sans-serif;
    font-size: 14px;
    text-align: left;
    color: white;
    margin-bottom: 24px;
    text-transform: uppercase;
}

a {
  font-family: Mori;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.menu {
  text-align: right;
}

.widget {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin: 24px 0px 24px 0px;
}

button {
  font-family: Mori;
  background-color: #5767F9;
  margin: 0;
  font-size: 12pt;
  padding: 4px 16px;
  color: white;
  border-radius: 16px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

select {
  font-family: Mori;
  background-color: #FFFFFF60;
  margin: 0 4px;
  font-size: 12pt;
  padding: 4px 4px;
  color: white;
  border-radius: 4px;
  border: none;
  max-width: 50%;
  vertical-align: middle;
}

.rahdio-widget {
  background-color: #5767F9;
  margin: 0;
  margin-top: 16px;
}

.transparent {
  background-color: #FFFFFF60;
}

.invisible {
  background-color: #FFFFFF00;
}

div.transparent > h1, div.transparent > p{
  color: white;
}


.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  box-sizing: border-box;
  padding: 0 24px;
}

.col-img {
  display: flex;
  justify-content: center;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 40%;
}

.col-4 {
  width: 30%;
}

.col-6 {
  width: 20%;
}

@media (max-device-width: 480px) {
  h1 {
    font-size: 64pt;
  }

  #rahdio-logo {
    max-width: 35%;
  }
  .title-column {
  margin-top: 15%;
  }

  .img-column {
  width: 100%;
  }

  .column {
    width: 100%;
  }
  .col-4 {
  width: 100%;
  }
  .menu {
  text-align: left;
  padding-top: 8px;
  }
}

{}