@font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 

body {
	background-color: F1F2F4;
	margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  flex: 1;
  text-align: right;
  margin: 0;
  padding: 0;
}

li:first-child {
	margin-left: 0;
	text-align: left;
}

li:last-child {
	margin-right: 16px;
}

a {
  display: block;
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
  font-family: 'Mori', sans-serif;
  color: #5767F9;
  transition: 0.3s;
}


a:hover {
	text-decoration: underline;
	text-decoration-thickness:  2px;
}

.bc {
	font-size: 2.5vw;
	font-weight: regular;
	color: #5767F9;
	opacity: 50%;
	z-index: 2;
	font-family: 'Mori', sans-serif;
}

.bc_selected {
	font-size: 2.5vw;
	font-weight: regular;
	color: #5767F9;
	z-index: 2;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.broad-column {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5%;
  background-color: green;
}


.left-column {
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: blue;
}

.middle-column {
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: yellow;
}


.right-column {
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: red;
}

h1 {
	font-family: "Mori", sans-serif;
	font-size: 4vw;
	color: #5767F9;
	margin-bottom: 16px;
}

h3 {
	font-family: "Mori", sans-serif;
	color: #5767F9;
	opacity: 50%;
}

p {
  font-family: 'Mori', sans-serif;
  color: #5767F9;
}


/* responsiveness */

@media (max-width: 768px) {
  .left-column {
    width: 100%;
  }

  .middle-column {
    width: 100%;
  }


  .right-column {
    display: none;
  }

  h1 {
	font-family: "Mori", sans-serif;
	font-size: 40px;
	color: #5767F9;
	margin-bottom: 8px;
 }


}
