 @font-face { font-family: AlbertSans; src: url('fonts/AlbertSans-Medium.ttf'); }
 @font-face { font-family: PPHatton-Medium; src: url('fonts/PPHatton-Medium.otf'); }
 @font-face { font-family: PPHatton-UltraLight; src: url('fonts/PPHatton-Ultralight.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


@media (max-width:960px) {
	h2 {
		font-size: 5vw;
	}

	#business-card {
	max-width: 250px;
	transform: rotate(5deg);
	box-shadow: 10px 10px 30px;
	padding: 10px;
	margin-top: 50px;
	margin-left: 30px;
	}
} 

body {
	background-color: white;
}

h2 {
	font-family: 'Cormorant Garamond', serif;
}

p {
	font-family: 'Cormorant Garamond', serif;
}
a {
	text-decoration: none;
	text-decoration-thickness:  1px;
	font-family: font-family: 'Cormorant Garamond', serif;;
	color: black;
	margin-right: 15px;
	display: inline-block;
	font-size: 10vw;
}

canvas {
	margin: auto;
	border-color: white;
}

#about {
	padding: 20px, 20px;
} 