h2 {
	color: WHITE;
	font-family: helvetica;
	margin: none;
	display: inline-block;
	font-size: 5vw;
}

a {
	text-decoration: none;
	color: white;
	margin: none;
}

body {
	background-color: black;
}

canvas {
	margin: auto;
	border-color: white;
}

div {
	white-space: nowrap;
}