 @font-face { font-family: AlbertSans; src: url('fonts/AlbertSans-Medium.ttf'); }
 @font-face { font-family: PPHatton-Medium; src: url('fonts/PPHatton-Medium.otf'); }
 @font-face { font-family: PPHatton-UltraLight; src: url('fonts/PPHatton-Ultralight.otf'); }
 @font-face { font-family: Mori; src: url('fonts/PPMori-Regular.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


@media (max-width:960px) {
	.bc {
		font-size: 50px;
	}

	#business-card {
	max-width: 250px;
	transform: rotate(5deg);
	box-shadow: 10px 10px 30px;
	padding: 10px;
	margin-top: 50px;
	margin-left: 30px;
	}
} 

body {
	background-color: white;
}

p {
	font-family: 'AlbertSans', serif;
}
a {
	text-decoration: none;
	text-decoration-thickness:  1px;
	color: black;
	margin-right: 15px;
	display: inline-block;
}

.bc {
	font-family: "Mori", sans-serif;
	font-size: 3vw;
	font-weight: regular;
}

canvas {
	margin: auto;
	border-color: white;
}

#about {
	padding: 20px, 20px;
} 

.contacts {
	position: fixed;
	bottom: 0;
}